<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="private/menu :: menu"></div>

<div class="web-content">
	<form id="changePassword" style="max-width: 550px; margin-top: 10px;" th:action="@{/salve}" method="POST" th:object="${bean}">
		<div class="card">
			<div class="card-header" 
				style="font-weight: bold;font-size: large;">				
				<span th:text="#{changePassword.title}" th:remove="tag"></span>
			</div>
			<div class="card-body">
			
				<div class="form-actions">
					<button type="button" class="btn btn-success btn-icon-split" id="btnSave">
						<span class="icon text-white-50">
							<i class="fa fa-check-circle"></i>
						</span>
						<span class="text" th:text="#{button.save}"></span>
					</button>
								
					<button type="reset" class="btn btn-light btn-icon-split" id="btnReset">
	                    <span class="icon text-gray-600">
	                      <i class="fa fa-eraser"></i>
	                    </span>
						<span class="text" th:text="#{button.reset}"></span>
					</button>

					<button type="button" class="btn btn-primary btn-icon-split" id="btnCancel">
						<span class="icon text-white-50"> <i
							class="fa fa-times-circle"></i>
						</span> 
						<span class="text" th:text="#{button.cancel}"></span>
					</button>
				</div>

				<div class="row">
					<div class="col-md-6 form-group">
						<label for="currentPassword"><span th:text="#{changePassword.currentPassword}" th:remove="tag"></span></label>
						<input type="password" class="form-control" id="currentPassword" maxlength="128" autocomplete="off" th:field="*{currentPassword}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="newPassword"><span th:text="#{changePassword.newPassword}" th:remove="tag"></span></label>
						<input type="password" class="form-control" id="newPassword" maxlength="128" autocomplete="off" th:field="*{newPassword}">
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="confirmNewPassword"><span th:text="#{changePassword.confirmNewPassword}" th:remove="tag"></span></label>
						<input type="password" class="form-control" id="confirmNewPassword" maxlength="128" autocomplete="off" th:field="*{confirmNewPassword}">
					</div>
				</div>
				
			</div>
		</div>
		
		<div id="dlgChangePassword" title="Confirmation" style="display: none;">
		    <p><span th:text="#{changePassword.dlgChangePassword}" th:remove="tag"></span></p>
		</div>
		
	</form>
</div>

<script th:src="@{/js/hfsframework/hfsframework-changePassword.js}"></script>

</body>
</html>
