<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="pt-BR">
<head th:replace="fragments/header :: header">
</head>
<body>

<div th:replace="private/menu :: menu"></div>

<div class="web-content">
	<form id="changePassword" style="max-width: 550px; margin-top: 10px;">
		<div class="card">
			<div class="card-header" 
				style="font-weight: bold;font-size: large;">
				Change Password
			</div>
			<div class="card-body">
			
				<div class="form-actions">
					<button type="button" class="btn btn-success" id="btnSave" onclick="dlgAlterarSenha()">
						<span class="glyphicon glyphicon-ok-sign"></span> Save
					</button>
				
					<button type="reset" class="btn btn-primary" id="btnReset">
						<span class="glyphicon glyphicon-star"></span> Reset
					</button>
				
					<button type="button" class="btn btn-primary" id="btnBack" onclick="window.location.href='/'">
						<span class="glyphicon glyphicon-circle-arrow-left"></span> Back
					</button>
				</div>

				<div class="row">
					<div class="col-md-6 form-group">
						<label for="currentPassword">Current password:</label>
						<input type="password" class="form-control" id="currentPassword" maxlength="128" >
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="newPassword">New password:</label>
						<input type="password" class="form-control" id="newPassword" maxlength="128" >
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 form-group">
						<label for="confirmNewPassword">Confirm new password:</label>
						<input type="password" class="form-control" id="confirmNewPassword" maxlength="128" >
					</div>
				</div>
				
			</div>
		</div>
	</form>
</div>

</body>
</html>
