<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en-US">
<head>
</head>
<body>

	<div id="dlgForgotPassword" th:title="#{login.forgotPassword}" style="display: none;">
	    
		<div class="form-group">
			<label for="dlgForgotPassword_username"><span th:text="#{login.username}" th:remove="tag"></span></label>
			<div class="input-group">
				<div class="input-group-append">
					<button class="btn btn-primary" type="button" disabled="disabled">
						<i class="fas fa-user fa-sm"></i>
					</button>
				</div>	
				<input type="text" class="form-control" id="dlgForgotPassword_username" autofocus 
					th:placeholder="#{login.username.placeholder}">
			</div>
		</div>
		<br />
		<div class="form-group">
			<div style="margin: 0 auto; width:20%">
				<button type="button" class="btn btn-success btn-icon-split" id="dlgForgotPassword_btnSend">
					<span class="icon text-white-50">
						<i class="fa fa-sign-in" aria-hidden="true"></i>
					</span>
					<span class="text" th:text="#{button.send}"></span>
				</button>
			</div>
		</div>
	    
	</div>

</body>
</html>
