<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en-US">
<body>
<div th:fragment="infoUser">

<script>
	$(document).ready(function(){
		 $.ajax({
		        url: "/sistemaMB"
		    }).then(function(data) {
				$('.infoUser-nome').empty();
				$('.infoUser-ip').empty();
				$('.infoUser-matricula').empty();
				$('.infoUser-login').empty();
				$('.infoUser-cpf').empty();
				$('.infoUser-data').empty();
				$('.infoUser-email').empty();
				
				$('.infoUser-nome').append(data.nome);
				$('.infoUser-ip').append(data.ip);
				$('.infoUser-matricula').append(data.matricula);
				$('.infoUser-login').append(data.login);
				$('.infoUser-cpf').append(data.cpfFormatado);
				$('.infoUser-data').append(data.dataFormatada);
				$('.infoUser-email').append(data.email);
		    });        
	});
</script>

<form id="infoUserForm">

	<div id="infoUserDialog" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm">

		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">User Information</h4>
		  </div>
		  <div class="modal-body">

			<table class="table table-bordered table-condensed">
				<tbody>
					<tr>
						<td style="font-weight: bold;">Name:</td>
						<td class="infoUser-nome"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">IP:</td>
						<td class="infoUser-ip"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">Registration:</td>
						<td class="infoUser-matricula"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">Login:</td>
						<td class="infoUser-login"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">CPF:</td>
						<td class="infoUser-cpf"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">Date First Login:</td>
						<td class="infoUser-data"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">E-mail:</td>
						<td class="infoUser-email"></td>
					</tr>
				</tbody>
			</table>

		  
		  </div>
		</div>

	  </div>
	</div>

</form>

</div>

</body>
</html>
