<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	lang="en-US">
<body>
<div th:fragment="infoUser">

<script>
	$(document).ready(function(){
		 $.ajax({			 
		        url: $('#anchorHomePage')[0] + "/private/infouser"
		    }).then(function(data) {
				$('.infoUser-username').empty();
				$('.infoUser-email').empty();
				$('.infoUser-roles').empty();
								
				$('.infoUser-username').append(data.username);
				$('.infoUser-email').append(data.email);
				$('.infoUser-roles').append(data.roles);
		    });        
	});
</script>

<form id="infoUserForm">

	<div id="infoUserDialog" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-sm">

		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">User Information</h4>
		  </div>
		  <div class="modal-body">

			<table class="table table-bordered table-condensed">
				<tbody>
					<tr>
						<td style="font-weight: bold;">Username:</td>
						<td class="infoUser-username"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">E-mail:</td>
						<td class="infoUser-email"></td>
					</tr>
					<tr>
						<td style="font-weight: bold;">Roles:</td>
						<td class="infoUser-roles"></td>
					</tr>
				</tbody>
			</table>

		  
		  </div>
		</div>

	  </div>
	</div>

</form>

</div>

</body>
</html>
