<div class="col-md-3 form-group">		
	<label for="cmbReportType">Choose the type of report:</label>
	<select class="form-control" id="cmbReportType" label="Report type">
	 	<optgroup th:each="group : ${listReportType}" th:label="${group.group}">
	 		<option th:each="option : ${group.types}" th:value="${option}">
	 			<span th:text="${option.description}" th:remove="tag"></span>
	 		</option>
	    </optgroup>
	</select>
</div>
<div class="col-md-3 form-group">
	<label class="checkbox-inline" for="forceDownload">
		<input type="checkbox" id="forceDownload"> Force Download
	</label>
</div>
