<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en-US">
<head th:replace="fragments/header :: header">
</head>	
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  		<a class="navbar-brand" href="">HFS Framework</a>
	</nav>

	<div th:if="${param.error}" class="alert alert-danger alert-dismissible">
  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	Username or password is invalid.
	</div>
	
	<div th:if="${param.logout}" class="alert alert-info alert-dismissible">
  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  	You left the system.
	</div>
	
	<div class="container-fluid" style="margin: 0 auto; width:400px; position: float;">
		<div id="tela-login" style="margin-top: 20px;">
			<div class="card" id="tela-login">
				<div class="card-header" style="font-weight: normal;">Authenticate</div>
				<div class="card-body">
				
					<form name="formLogin" th:action="@{/perform_login}" method="POST">
								
						<div class="form-group">
							<label for="username">User:</label>
							<div class="input-group">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" disabled="disabled">
										<i class="fas fa-user fa-sm"></i>
									</button>
								</div>	
								<input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
							</div>
						</div>
						<div class="form-group">
							<label for="password">Password:</label>
							<div class="input-group">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" disabled="disabled">
										<i class="fas fa-lock fa-sm"></i>
									</button>	
								</div>	
								<input type="password" class="form-control" name="password" id="password" 
									placeholder="Enter password" autocomplete="off">
							</div>
						</div>
						<br />
						<div class="form-group">
							<div style="margin: 0 auto; width:40%">
								<button type="submit" class="btn btn-success btn-icon-split" id="btnEntrar">
									<span class="icon text-white-50">
										<i class="fa fa-sign-in" aria-hidden="true"></i>
									</span>
									<span class="text">Log in</span>
								</button>
							</div>
						</div>
					
					</form>	
					
				</div>		
			</div>
		</div>	
	</div>

	<div th:replace="fragments/footer :: footer"></div>
	
</body>
</html>
